<style>
    #footerContainer{
    width: 99%;
    background-color: #54B435; 
    color: black;
    margin-top:-24px;
   
   }
   #footer2Container{
    width:99%;
    background-color: rgb(53,34,34);
    color: white;
   }
    
    @media screen and (max-width:576px) {
    #footerContainer{
    width: 97.2%;
    background-color: #54B435; 
    color: black;
    margin-top:-24px;
   
   }
    #footer2Container{
    width:97.2%;
    background-color: rgb(53,34,34);
    color: white;
   }



}
</style>
<footer class="text-center text-lg-start  text-muted" id="footerContainer">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <div class="me-5 d-none d-lg-block" style="color: black;">
            <span>Get connected with us on social networks:</span>
        </div>
        <div style="color: black;">
            <a href="" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-github"></i>
            </a>
        </div>
    </section>
    <section class="" style="color: black;">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        DogWay
                    </h6>
                    <p>
                        <a href="/About" class="text-reset">About Us</a>
                    </p>
                    <p>
                        <a href="/Contact" class="text-reset">Contact Us</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Terms & Conditions</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Privacy Policy</a>
                    </p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Services
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Book a Service</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Dog Training</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Dog Walking</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Grooming</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Nutrition</a>
                    </p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="fas fa-home me-3"></i> SGSITS College,Indore</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i> dogway@gmail.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> + 91 6265903552</p>
                    <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
                </div>
            </div>
        </div>
    </section>
</footer>
<div class="text-center p-4 " id="footer2Container">
    © 2018-2023 Dog-Way Pet Services Private Limited.All Rights Reserved.

</div>