<style>
    @media screen and (max-width:576px) {
        .getrollimage{
            width:290px;
            height: 40vh;
        }
    }
</style>
<center>
    <section class="section section-br quick_en-form_bg"
        style="background-color: white;box-shadow: 1px 2px 41px 4px rgb(116 115 115 / 23%);"><br>
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 en-pl en-pr">
                    <div class="quick_en_form  quick_en_8_form_breed ">
                        <div id="quick_01_slide" class="d-block">
                            <div class="row">

                                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12 ">
                                    <div class="quick_en_fr_img text-center quick_en_fr_8_img-br ">
                                        <img class="getrollimage" src="https://www.mrnmrspet.com/assets/image/quick_img/quick_en_img.svg">
                                    </div>
                                    <div class="Quck_line_1">
                                        <span></span>
                                        <!-- <img src="https://www.mrnmrspet.com/assets/image/quick_img/line-icon.png"> -->
                                        <span></span>
                                    </div>

                                    <div class="d-none d-xl-block d-lg-block d-md-block">
                                        <div class="review_98_heading review_98_heading_breed">
                                            <h4 style="color:rgb(99, 228, 99) ;">See what our Dog Parents Say
                                                about us</h4>
                                        </div>
                                        <div id="review_9876">
                                            <div class="owl-carousel owl-theme" style="z-index:-1;">
                                                <div class="item p-1">
                                                    <div class="quick_01_review quick_02_review ">
                                                        <p>Got a wonderful puppy from here. Nice behavior from the
                                                            staff
                                                            members,has a great knowledge about dogs. I recommend
                                                            Dogway!</p>

                                                    </div>
                                                </div>
                                                <div class="item p-1">
                                                    <div class="quick_01_review quick_02_review ">
                                                        <p>I had purchased a Dog from Dogway pet a few days back
                                                            the
                                                            services are awesome. The Dog is too familiar with me
                                                            and my
                                                            family. Thank you Dogway.</p>
                                                        <div
                                                            class="quick_01_review_img d-flex justify-content-start align-items-center">
                                                            <img src="">


                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>

                                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12">
                                    <div class="quick_en_fr_form quick_en_fr_form_br">
                                        <h1 style="color:rgb(99, 228, 99) ;">Hey! Still not found what you are
                                            looking for?</h1>
                                        <p class="d-none d-xl-block d-lg-block d-md-block mt-2">No worries!! Let our
                                            pet
                                            experts come to your rescue. Fill in your details and we will give you a
                                            call. Our experts have successfully helped in completing 4000+
                                            families
                                            by finding and connecting them to their lovable furbabies across India.
                                        </p>
                                    </div>

                                    <div class="row">
                                        <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                              <div class="form-group quick_input_filed quick_input_filed_br ">
                                                  <input name="ctrlQuickEnquiry$txtQuickQueryName" type="text"
                                                      id="ctrlQuickEnquiry_txtQuickQueryName"
                                                      class="form-control focus-form n_q_name"
                                                      placeholder="Your Name" />
                                              </div>
                                          </div>
                                          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                              <div class="form-group quick_input_filed quick_input_filed_br ">
                                                  <input name="ctrlQuickEnquiry$txtQuickQueryContact" type="tel"
                                                      maxlength="10" id="ctrlQuickEnquiry_txtQuickQueryContact"
                                                      class="form-control focus-form n_q_contact numerictxtbx"
                                                      placeholder="Contact No" />
                                              </div>
                                          </div>
                                          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                              <div class="form-group quick_input_filed quick_input_filed_br ">
                                                  <input name="ctrlQuickEnquiry$txtQuickQueryEmail" type="email"
                                                      id="ctrlQuickEnquiry_txtQuickQueryEmail"
                                                      class="form-control focus-form n_q_email" placeholder="Email" />
                                              </div>
                                          </div>

                                          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                              <div class="form-group quick_input_filed quick_input_filed_br">
                                                  <div id="ctrlQuickEnquiry_UpdatePanel4">

                                                      <select name="ctrlQuickEnquiry$ddlBreed"
                                                          id="ctrlQuickEnquiry_ddlBreed"
                                                          class="form-control focus-form n_q_ddlBreed">
                                                          <option selected="selected" value="0">Breed</option>
                                                          <option value="1">Pug</option>
                                                          <option value="2">Boxer</option>
                                                          <option value="3">Germen Shepherd</option>
                                                          <option value="4">Beagle</option>
                                                      </select>

                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                              <div class="form-group quick_input_filed quick_input_filed_br">
                                                  <input type="search" class="form-control focus-form autosuggest"
                                                      placeholder="Location" value="" id="fetchLocation"
                                                      title="Search" autocomplete="off" />
                                              </div>
                                          </div>
                                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                              <div
                                                  class="form-group quick_input_filed quick_input_filed_br mb-0 mb-xl-2 mb-lg-2 mb-md-2 ">
                                                  <textarea name="ctrlQuickEnquiry$txtQuickQuery" rows="5" cols="20"
                                                      id="ctrlQuickEnquiry_txtQuickQuery"
                                                      class="form-control focus-form n_q_txtQuickQuery"
                                                      placeholder="Remark...">
                                                  </textarea>

                                              </div>
                                          </div>
                                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                              <div class="Privacy-policyD  pt-2 pb-2">
                                                  <span>Are you a Pet Parent ?</span> <br /> -->
                                        <!-- 
                                                  <div class="Pirvi-bds">
                                                      <table id="ctrlQuickEnquiry_radParent" class="n_q_radParent"
                                                          border="0">
                                                          <tr>
                                                              <td><input id="ctrlQuickEnquiry_radParent_0"
                                                                      type="radio" name="ctrlQuickEnquiry$radParent"
                                                                      value="Yes" checked="checked" /><label
                                                                      for="ctrlQuickEnquiry_radParent_0">Yes</label>
                                                              </td>
                                                              <td><input id="ctrlQuickEnquiry_radParent_1"
                                                                      type="radio" name="ctrlQuickEnquiry$radParent"
                                                                      value="NO" /><label
                                                                      for="ctrlQuickEnquiry_radParent_1">No</label>
                                                              </td>
                                                          </tr>
                                                      </table>
                                                  </div> -->

                                        <div class="col-md-12">

                                            <form action="/messageDetails" method="post">
                                                <input class="form-control mx-2 my-3" name="name" id="name" type="text"
                                                    placeholder="Your Name *">
    
    
                                                <input class="form-control mx-2 my-3" name="email" id="email" type="email"
                                                    placeholder="Your Email *" />
    
    
                                                <input class="form-control mx-1 my-3" name="subject" id="subject" type="text"
                                                    placeholder="subject *" />
    
    
    
                                                <textarea class="form-control mx-1 my-3" name="message" id="message"
                                                    placeholder="Your Message *"></textarea>
    
                                                <button class="btn" type="submit" id="submit"
                                                    style="border: none;background-color:rgb(99, 228, 99) ;border-radius: 10px;width: 20vh;color: white;">Submit</button>
                                                </form>
                                        </div>

                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
</center>
<br><br>