<!-- _________________________________________ABOUT___________________________________ -->


  
  <!--<div class="container">
    <div class="row">
      <div id="snap5img" class="col-md-6">
        <div id="content5" class="d-block">
          <p class="mb-0 content-div">DogWay is more than just a website; it's a vibrant community of dog lovers.</p>
          <span id="span content-div">"At DogWay, we really love dogs, and we've created a website that's perfect 
            for everyone who likes dogs. If you're someone who wants great dog services, like grooming or training, we've got you covered. And if you're a person who buys, sells, or breeds dogs, our website is the place for you." We invite you to explore our platform, connect with fellow members, and take advantage of our services. Together, we can ensure that dogs lead happy, healthy lives.</span>
        </div>
      </div>
    </div>
  </div> -->
  <style>
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
#opacityContainer{
      background-image: url('/images/f.jpg');
      background-size:cover;
      background-position: center;
      background-attachment: fixed;
      position: relative;      
      width:100%;
      height:auto;
      
      /* border:1px solid red; */
      
}
      #opacityContainer::before{
            width:100%;
            height:100%;
            position:absolute;
            content: '';
            top:0;
            background:rgba(0, 0, 0, 0.651);
      }


#opacityContent{

      width: 60em;
      height:auto;
      padding:50px;
      position: relative;
      text-align: center;
      /* margin-top: 8%; */
      
}
#opacityContent p{
      font-weight: 400;
      font-size: 15px;
      text-align: center;
      color: white;
      
      }
#opacityContent h1{
      color: brown;
      font-weight: 700;
}
#opacityButton{
      width: 150px;
      height: 40px;
      border:none;
      border-radius: 10px;
      background-color: white;
}

  </style>
     <section class="pt-5" style="margin-top: 5.5rem;">
      <div class="container-fluid text-end">
        <h4 class="fw-bold" style="font-size:2.5rem;">ABOUT <span style="color: #54B435;">US</span></h4>
        <p>I invite you to come visit and meet the many wonderful dogs and other animals at The Dogway Foundation!</p>
      </div>
    </section>
  <div id="opacityContainer" class="d-flex justify-content-center align-item-center">
            
    <div id="opacityContent">
      <div id="" class="d-block">
        <h1>DogWay is more than just a website; it's a vibrant community of dog lovers.</h1>
        <p>"At DogWay, we really love dogs, and we've created a website that's perfect 
          for everyone who likes dogs. If you're someone who wants great dog services, like grooming or training, we've got you covered. And if you're a person who buys, sells, or breeds dogs, our website is the place for you." We invite you to explore our platform, connect with fellow members, and take advantage of our services. Together, we can ensure that dogs lead happy, healthy lives.</p>
      </div>
    </div>

</div>
  
  