<style>
      .shadow-effect {
          
          background: rgb(53,34,34);
          color: white;
          border-radius: 30px;
          margin-top: 110px;
          text-align: center;
          border: 2px solid #0e73e7;
          
      }

      #customers-testimonials .shadow-effect p {
          font-family: inherit;
          font-size: 17px;
          line-height: 1.5;
          margin: 0 0 17px 0;
          font-weight: 300;
      }
      #customers-testimonials .item {
        
          text-align: center;
           /* padding: 50px; */
           margin: 20px;
         opacity: .2;
          -webkit-transform: scale3d(0.8, 0.8, 1);
          transform: scale3d(0.8, 0.8, 1);
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
      }

      #customers-testimonials .owl-item.active.center .item {
        opacity: 1;
          -webkit-transform: scale3d(1.0, 1.0, 1);
          transform: scale3d(1.0, 1.0, 1);
          /* width: 36em; */
          /* height: 350px; */
          margin-top: 50px;
          padding: 60px 10px 0px 10px;
          /* margin-left: -19%; */
          z-index: -1;
          
      }
@media screen and (max-width:480px) {
    #customers-testimonials .owl-item.active.center .item {
        margin-left: -0.5em;
      }
}
     

      .img-circle {
          margin: auto;
      }
      .item h2{
          color:#BFA70A;
      }
      #profile-image{

          width:70px;
          height: 70px;
          border-radius: 100%;
          margin-top:-80px;
      }
      #mainContainer{
        width:100%;
        height: 32rem;
        margin:auto;
        background:linear-gradient(to right, #15dc1cc6, #80e45a, #80e45a, #80e45a, #80e45a);
       }
      @media only screen and (max-width:570px){
       
        .shadow-effect {
          width:15rem;
          
          margin-left: -4%;
          background: rgb(53,34,34);
          color: white;
          border-radius: 30px;
          margin-top: 50px;
          text-align: center;
          border: 2px solid #0e73e7;
          
      }
      
      #customers-testimonials .item {
        
          text-align: center;
           padding: 50px;
         opacity: .2;
          -webkit-transform: scale3d(0.8, 0.8, 1);
          transform: scale3d(0.8, 0.8, 1);
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
      }

      #customers-testimonials .owl-item.active.center .item {
        opacity: 1;
          -webkit-transform: scale3d(1.0, 1.0, 1);
          transform: scale3d(1.0, 1.0, 1);
          width: 34em;
          height: 120px;
          /* margin-top: 100px; */
          /* margin-left: -19%; */
          z-index: -1;
          
      }

     

      .img-circle {
          margin: auto;
      }
      .item h2{
          color:#BFA70A;
      }
      #profile-image{

          width:100px;
          height: 100px;
          border-radius: 100%;
          margin-top:-80px;
      }
      #mainContainer{
        width:100%;
        height: 34rem;
        margin:auto;
        background:linear-gradient(to right, #15dc1cc6, #80e45a, #80e45a, #80e45a, #80e45a);
       }
      }
  </style>

  </head>


  <!-- TESTIMONIALS -->
  <section class="pt-5" style="margin-top: 6.5rem;width:100%">
    <div class="container-fluid text-start">
      <h4 class="fw-bold" style="font-size:2.5rem;">CUSTOMER <span style="color: #54B435;">REVIEW</span></h4>
      <p>Look at the Protein Level. This is usually called "Crude Protein (min)" in the Guaranteed Analysis</p>
    </div>
  </section>

  <section class="testimonials" >
      <div id="mainContainer">
             <div class="row">
              <div class="col-sm-12">
                  <div id="customers-testimonials" class="owl-carousel" id="owl-carousel" style="z-index: 0;">

                      <!--TESTIMONIAL 1 -->
                      <div class="item">
                          <div class="shadow-effect">
                              <img class="img-circle" id="profile-image"
                                  src="http://themes.audemedia.com/html/goodgrowth/images/testimonial3.jpg" alt="">
                              <!-- <h2>Name</h2> -->
                              <h2>Jayanti</h2>

                              <p>"It is not truly vegetarian as it contains Ocean Fish Fragrance.

                                It is not all fresh.
                                
                                We can prefer Pedigree Vegetarian Biscuits over this."</p>
                          </div>
                      </div>
                      <!--END OF TESTIMONIAL 1 -->
                      <!--TESTIMONIAL 2 -->
                      <div class="item">
                          <div class="shadow-effect">
                              <img class="img-circle"
                              id="profile-image"
                                  src="http://themes.audemedia.com/html/goodgrowth/images/testimonial3.jpg" alt="">
                              <!-- <h2>Name</h2> -->
                              <h2>Pankaj</h2>

                              <p>" Best and cheap product with good nutrition,at this price it is best product till now for my lebra ,and it is vegetarian. "</p>
                          </div>
                      </div>
                      <!--END OF TESTIMONIAL 2 -->
                      <!--TESTIMONIAL 3 -->
                      <div class="item">
                          <div class="shadow-effect">
                              <img class="img-circle"
                              id="profile-image"
                                  src="http://themes.audemedia.com/html/goodgrowth/images/testimonial3.jpg" alt="">
                              <!-- <h2>Name</h2> -->
                              <h2>Chirag</h2>
                              <p>" bought it for our street dogs and everyone ate it so well. Yeah it smells but it is common in all dogs food. Go for it."</p>
                          </div>
                      </div>
                      <!--END OF TESTIMONIAL 3 -->
                      <!--TESTIMONIAL 4 -->
                      <!-- <div class="item">
                          <div class="shadow-effect">
                              <img class="img-circle"
                              id="profile-image"
                                  src="http://themes.audemedia.com/html/goodgrowth/images/testimonial3.jpg" alt="">
                              <h2>Name</h2>
                              <h2>*****</h2>

                              <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus quam debitis labore
                                  aspernatur cumque quisquam dolorum temporibus, possimus quo consequuntur!"</p>
                          </div>
                      </div> -->
                      <!--END OF TESTIMONIAL 4 -->
                      <!--TESTIMONIAL 5 -->
                      <!-- <div class="item">
                          <div class="shadow-effect">
                              <img class="img-circle"
                              id="profile-image"
                                  src="http://themes.audemedia.com/html/goodgrowth/images/testimonial3.jpg" alt="">
                              <h2>Name</h2>
                              <h2>*****</h2>

                              <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus quam debitis labore
                                  aspernatur cumque quisquam dolorum temporibus, possimus quo consequuntur!"</p>
                          </div>
                      </div> -->
                      <!--END OF TESTIMONIAL 5 -->
                  </div>
              </div>
          </div>
      </div>
  </section>
  <script>
      jQuery(document).ready(function ($) {
          //   "use strict";
          //  TESTIMONIALS CAROUSEL HOOK
          $('#customers-testimonials').owlCarousel({
              loop: true,
              center: true,
              items: 3,
              margin: 0,
              autoplay: true,
              autoplayTimeout: 3000,
              smartSpeed: 700,
              responsive: {
                  0: {
                      items: 2
                  },
                  768: {
                      items: 2
                  },
                  1170: {
                      items: 3
                  }
              }
          });
      });
  </script>
  <!-- END OF TESTIMONIALS -->