<!-- __________________________________offers slider start__________________________________________________ -->


      <section class="container pt-5" style="margin-top: 4.5rem;width:98%">
        <div class="container-fluid text-start">
          <h4 class="fw-bold" style="font-size:2.5rem;">OFFERS <span style="color: #54B435;">FOR YOU</span></h4>
          <p>It is safer to call animal control and get all of the dogs taken in, so they can be cared for and stay with one another.</p>
        </div>
      </section>
  <div class="carousel-wrap" id="carouselExampleDark1">
      <div class="owl-carousel" id="outerDivOfOfferSection">
          <div class="item">
              <img src="/images/dog.jpeg" id="OfferImage">
              <h5>Offer 20%</h5>
          </div>
          <div class="item">
              <img src="/images/g.jpg" id="OfferImage">
              <h5>Offer 10%</h5>
          </div>
          <div class="item">
              <img src="/images/dog4.jpg" id="OfferImage">
              <h5>Offer 30%</h5>
          </div>
          <div class="item">
              <img src="/images/dog8.jpg" id="OfferImage">
              <h5>Offer 40%</h5>
          </div>
          <div class="item">
              <img src="/images/dog5.jpg" id="OfferImage">
              <h5>Offer 10%</h5>
          </div>
          <div class="item">
              <img src="/images/dog6.jpg" id="OfferImage">
              <h5>Offer 20%</h5>
          </div>
          <div class="item">
              <img src="/images/dog13.jpeg" id="OfferImage">
              <h5>Offer 10%</h5>
          </div>
          <div class="item">
              <img src="/images/pug2.jpg" id="OfferImage">
              <h5>Offer 20%</h5>
          </div>
          <div class="item"><img src="/images/dog4.jpg" id="OfferImage">
              <h5>Offer 20%</h5>
          </div>
          <div class="item"><img src="/images/dog8.jpg" id="OfferImage">
              <h5>Offer 20%</h5>
          </div>
          <div class="item"><img src="/images/dog6.jpg" id="OfferImage">
              <h5>Offer 20%</h5>
          </div>
          <div class="item"><img src="/images/dog13.jpeg" id="OfferImage">
              <h5>Offer 20%</h5>
          </div>
          <div class="item"><img src="/images/g.jpg" id="OfferImage">
              <h5>Offer 20%</h5>
          </div>
      </div>

  </div>
  <script>
      $('.owl-carousel').owlCarousel({
          item: 4,
          autoplay: true,
          loop: true,
          margin: 10,
          autoplayHoverPause: true,
          responsive: {
              0: {
                  items: 2
              },
              600: {
                  items: 3
              },
              1000: {
                  items: 5
              }
          }
      })
  </script>
  <!-- __________________________________offers stlider end__________________________________________________ -->