 <!-- __________________________________features slider start__________________________________________________ -->

 <section class="pt-5" style="width:98%">
    <div class="container-fluid text-end">
      <h4 class="fw-bold" style="font-size:2.5rem;">OUR <span style="color: #54B435;">FEATURES</span></h4>
      <p>Teaching your dog basic obedience - such as sit, wait and coming back when called </p>
    </div>
  </section>
  <div class="container-fluid" id="containerFeatures" style="z-index: 0;">
      <div class="row" >
          <div class="col-md-12">
              <div id="news-slider" class="owl-carousel"style="z-index: 0;" >
                  
                <div class="post-slide">
                      <div class="post-img">
                          <img src="/images/Grooming.jpg" alt="" style="height:45vh;width:100%;">
                          <a class="over-layer" data-bs-toggle="modal" href="#portfolioModal1"><i
                                  class="fa fa-plus"></i></a>
                      </div>
                      <div class="post-content">
                          <h3 class="post-title">
                              <h5>Grooming</h5>
                          </h3>

                      </div>
                  </div>

                  <div class="post-slide">
                      <div class="post-img">
                          <img src="/images/Dogspa.webp" style="height:45vh;width:100%;" alt="">
                          <a class="over-layer" data-bs-toggle="modal" href="#portfolioModal2"><i
                                  class="fa fa-plus"></i></a>
                      </div>
                      <div class="post-content">
                          <h3 class="post-title">
                              <h5>Dog spa</h5>
                          </h3>
                      </div>
                  </div>

                  <!-- <div class="post-slide">
                      <div class="post-img">
                          <img src="/images/nutrition.jpg" style="height:45vh;width:100%;" alt="">
                          <a class="over-layer" data-bs-toggle="modal" href="#portfolioModal3"><i
                                  class="fa fa-plus"></i></a>
                      </div>
                      <div class="post-content">
                          <h3 class="post-title">
                              <a href="#">Nutrition</a>
                          </h3>

                      </div>
                  </div> -->

                  <div class="post-slide">
                      <div class="post-img">
                          <img src="/images/Walking.jpg" style="height:45vh;width:100%;" alt="">
                          <a class="over-layer" data-bs-toggle="modal" href="#portfolioModal5"><i
                                  class="fa fa-plus"></i></a>
                      </div>
                      <div class="post-content">
                          <h3 class="post-title">
                              <h5>Walking</h5>
                          </h3>
                          <!-- <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur cumque dolorum, ex incidunt ipsa laudantium necessitatibus neque quae tempora......</p>
                <span class="post-date"><i class="fa fa-clock-o"></i>Out 27, 2019</span>
                <a href="#" class="read-more">read more</a> -->
                      </div>
                  </div>

                  <div class="post-slide">
                      <div class="post-img">
                          <img src="/images/traning.jpeg" style="height:45vh;width:100%;" alt="">
                          <a class="over-layer" data-bs-toggle="modal" href="#portfolioModal4"><i
                                  class="fa fa-plus"></i></a>
                      </div>
                      <div class="post-content">
                          <h3 class="post-title">
                              <h5>Training</h5>
                          </h3>

                      </div>
                  </div>
              </div>
          </div>
      </div>

  </div>
  <script>

      $(document).ready(function () {
          $("#news-slider").owlCarousel({
              items: 3,
              itemsDesktop: [1133, 1],
              itemsDesktopSmall: [980, 2],
              itemsMobile: [600, 1],
              navigation: true,
              navigationText: ["", ""],
              pagination: true,
              // autoPlay: true,
              responsive: {
                  0: {
                      items: 1
                      
                  },

                  600: {
                      items: 3
                  },

                  1024: {
                      items: 4
                  },

                  1366: {
                      items: 4
                  }
              }
          });
      });
  </script>


  <div class="modal fade mod" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-fullscreen">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <div class="container">
                      <div class="row justify-content-center">
                          <div class="col-lg-8">
                              <!-- Project details -->
                              <h2 class="text-uppercase text-center" style="font-size:50px;font-weight: 700;">GROOMING
                              </h2>
                              <p class="item-intro text-muted text-center"
                                  style="font-size: 18px;font-style: italic;">Book Dog Grooming service in Indore</p>
                              <img class="img-fluid d-block " style="height: 50vh;margin-left: 4rem;width: 50vw;" src="/images/Grooming.jpg" alt="..." />
                              <p style="font-size: 18px;" class="m-4 text-center">
                                You can book Dog Grooming Services in Indore on the basis of your furr baby requirements on ThePetNest. Whether you love to know your pet is clean or you’re gearing up for family photos with him or her, We can take care of everything. From baths to brushing, to even painting your dog’s nails, Book a standard bath & blow-dry to a full-service groom, There are a variety of pet grooming packages that are just right for your dog.You can book Dog Grooming and Cat Grooming Services in Indore on the basis of your furr baby requirements on ThePetNest. Whether you love to know your pet is clean or you’re gearing up for family photos with him or her, We can take care of everything. From baths to brushing, to even painting your dog’s nails, Book a standard bath & blow-dry to a full-service groom, There are a variety of pet grooming packages that are just right for your pet. We also provide a free vet consultation before and after the grooming session of your pet to best answer all your questions and needs. Because your furr baby deserves the best
                              </p>

                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- -------------------modal-1--------------- -->

  <!-- -------------------modal-2--------------- -->
  <div class="modal fade mod" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-fullscreen">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <div class="container">
                      <div class="row justify-content-center">
                          <div class="col-lg-8">
                              <!-- Project details -->
                              <h2 class="text-uppercase text-center" style="font-size:50px;font-weight: 700;">DOG SPA
                              </h2>
                              <p class="item-intro text-muted text-center"
                                  style="font-size: 18px;font-style: italic;">Book Dog Spa service in Indore</p>
                              <img class="img-fluid d-block mx-auto" style="height: 50vh;margin-left: 10rem;width: 50vw;" src="/images/Dogspa.webp" alt="..." />
                              <p style="font-size: 18px;" class="m-4 text-center">
                                Create a dedicated page that lists and details the services you offer, such as grooming, bathing, massage, and special treatments. Include pricing information and package details.Within the Services page, have a section dedicated to grooming packages with descriptions, pricing, and images illustrating the before-and-after transformations.
                                Wash out grease and dirt — Too much grease or dirt in a dog’s coat leads to skin problems as irritation can develop. Brushing plus baths will allow their skin to breathe again.
                                De-shed excess hair —Most dogs shed their coats at certain times of the year and some dogs shed way more than others. A good brushing removes that loose fur and prevents matting, which can lead to painful sores and discomfort.
                                Remove parasites — Groomers can check for fleas, ticks, and ear infections that pups might be dealing with, in addition to feeling for any abnormal lumps and bumps.
                                Clean teeth and gums — While this should be an at-home task too, groomers will brush your dog’s teeth to freshen their breath and can alert you of dental disease or a fractured tooth.
                            
                              </p>

                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- -------------------modal-2--------------- -->
  <!-- -------------------modal-5--------------- -->
  <div class="modal fade mod" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-fullscreen">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <div class="container">
                      <div class="row justify-content-center">
                          <div class="col-lg-8">
                              <!-- Project details -->
                              <h2 class="text-uppercase text-center" style="font-size:50px;font-weight: 700;">Walking
                              </h2>
                              <p class="item-intro text-muted text-center"
                                  style="font-size: 18px;font-style: italic;">Book Dog Walking service in Indore</p>
                              <img class="img-fluid d-block mx-auto" style="height: 50vh;margin-left: 10rem;width: 50vw;" src="/images/Walking.jpg" alt="..." />
                              <p style="font-size: 18px;" class="m-4 text-center">
                                Dogs love going for walks, to the point that many owners take to spelling out w-a-l-k when talking about the activity to keep their pooches from getting overly excited. Daily walks are not just a great way to exercise your dog; you can benefit from them as well!.Walking is a fantastic low-impact activity you can do anywhere. Over time, it will help strengthen your muscles, bones, and joints.Dog walking services can include private or semi-private on-leash walks, or it can include group outings where your dog is picked up along with several other dogs and driven to a local park for an off-leash adventure.Offline, free ads often appear on bulletin boards, for example in supermarkets, animal shelters, training centers or veterinary clinics. But of course, you can also search for good dog sitters online. On the Starofservice website, you can find a flexible dog sitter near you by entering your zip code. Whether you are looking for a dog sitter for one or a few hours, a night or more, you will find what you are looking for there. In addition to desired locations, you can add preferences to your search, such as the type of care or a four-legged playmate.
                              </p>

                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- -------------------modal-5--------------- -->
  <!-- -------------------modal-4--------------- -->
  <div class="modal fade mod" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-fullscreen">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <div class="container">
                      <div class="row justify-content-center">
                          <div class="col-lg-8">
                              <!-- Project details -->
                              <h2 class="text-uppercase text-center" style="font-size:50px;font-weight: 700;">Training
                              </h2>
                              <p class="item-intro text-muted text-center"
                                  style="font-size: 18px;font-style: italic;">Book Dog Training service in Indore.</p>
                              <img class="img-fluid d-block mx-auto" style="height: 50vh;margin-left: 10rem;width: 50vw;" src="https://www.rspca.org.uk/documents/1494939/7712581/1178888-german-shepherd-training-banner_990x350.jpg/eb84a429-184a-a61b-304c-f2fed1ae6846?t=1653657451352" alt="..." />
                              <p style="font-size: 18px;" class="m-4 text-center">
                                Teaching your dog basic obedience - such as sit, wait and coming back when called - gives them the freedom to do the things they like to do, like running off lead and coming with you to meet friends and family, while being safe 
                                Minimise distractions - always start lessons for new tricks in a quiet room in your house away from any distractions
                                Break training up into short but regular sessions so your dog isn't overwhelmed
                                Be patient - just like us, dogs all learn at different rates so don't worry if your dog doesn't pick things up straight away
                                Always end with something your dog knows, so the session finishes positively
                                Have fun - training is a great way for you to bond with your dog!
                            
                              </p>

                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- -------------------modal-4--------------- -->
  <!-- -------------------modal-3--------------- -->
  <div class="modal fade mod" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-fullscreen">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <div class="container">
                      <div class="row justify-content-center">
                          <div class="col-lg-8">
                              <!-- Project details -->
                              <h2 class="text-uppercase text-center" style="font-size:50px;font-weight: 700;">
                                  NUTRITION</h2>
                              <p class="item-intro text-muted text-center"
                                  style="font-size: 18px;font-style: italic;">Lorem ipsum
                                  dolor sit amet consectetur.</p>
                              <img class="img-fluid d-block mx-auto" src="/images/nutrition.jpg" alt="..." />
                              <p style="font-size: 18px;" class="m-4 text-center">
                                  Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
                                  adipisicing elit. Est
                                  blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi
                                  sunt officia
                                  expedita beatae cupiditate,
                                  maiores repudiandae, nostrum, reiciendis facere nemo!
                              </p>

                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Model End -->
