<style>
#TopPicContainer{
    background:linear-gradient(to left, #15dc1cc6, #80e45a, #b4eb8c, #dbf1bf, #f8f9f6);
    width:100%;
    height:400;
}
</style>
<!---------------------- Dog Pic start---------------------------------------------->
<section class="pt-5" style="margin-top:5.5rem">
    <div class="container-fluid text-start">
      <h4 class="fw-bold" style="font-size:2.5rem;">TOP PIC <span style="color: #54B435;">DOGS</span></h4>
      <p>basic obedience training to establish control over the animal and can then progress to more advanced specialist training. </p>
    </div>
</section>
  <section class="p-5" id="TopPicContainer" >
      <div style="margin-top:3.5%" class="row gl-0">

          <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
              <div class=" text-center">
                  <img class="img-fluid" src="/images/golden.jpg" alt=""
                      style="height: 15rem;width: 15rem;box-shadow: 10px 30px 0px 10px rgb(248, 244, 244);border-radius: 10px;">
                  <div style="font-weight: bolder;font-size: 1.5rem;">Golden Retriver
                      <p><br>
                        <span class="card-text" style="margin-left: 10px;"><a href="/Breed"><button type="button"
                            style="color: black;background-color:rgb(99, 228, 99);border: none;border-radius: 5px;width: 260px;">Book
                            Now</button></a></span>
                      <!-- <h6>The Golden Retriever is a popular and beloved dog breed known for its friendly and outgoing
                          nature, as well as its striking golden coat. </h6> -->
                      </p>
                  </div>

              </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
              <div class="text-center">
                  <img class="img-fluid" src="/images/beaglemain.webp" alt=""
                      style="height: 15rem;width: 15rem;box-shadow: 10px 30px 0px 10px rgb(248, 244, 244);border-radius: 10px;">
                  <div style="font-weight: bolder;font-size: 1.5rem;">Beagle
                      <p><br>
                        <span class="card-text" style="margin-left: 10px;"><a href="/Breed"><button type="button"
                            style="color: black;background-color:rgb(99, 228, 99);border: none;border-radius: 5px;width: 260px;">Book
                            Now</button></a></span>
                      <!-- <h6>
                          Beagles are a small to medium-sized breed of dog known for their friendly personality,
                          distinctive appearance, and keen sense of smell. </h6> -->
                      </p>
                  </div>
              </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
              <div class="text-center">
                  <img class="img-fluid" src="/images/dog13.jpeg" alt="..."
                      style="height: 15rem;width: 15rem;box-shadow: 10px 30px 0px 10px rgb(248, 244, 244);border-radius: 10px;">
                  <div style="font-weight: bolder;font-size: 1.5rem;">Boxer
                      <p><br>
                      <!-- <h6>
                          Boxers are a medium to large-sized breed of dog known for their muscular build, distinctive
                          appearance, and playful personalities. </h6>
                      </p> -->
                      <span class="card-text" style="margin-left: 10px;"><a href="/Breed"><button type="button"
                        style="color: black;background-color:rgb(99, 228, 99);border: none;border-radius: 5px;width: 260px;">Book
                        Now</button></a></span>
                  </div>
              </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
              <div class="text-center">
                  <img class="img-fluid" src="/images/pug2.jpg" alt="..."
                      style="height: 15rem;width: 15rem;box-shadow: 10px 30px 0px 10px rgb(248, 244, 244);border-radius: 10px;">
                  <div style="font-weight: bolder;font-size: 1.5rem;">Pug
                      <p><br> <span class="card-text" style="margin-left: 10px;"><a href="/Breed"><button type="button"
                        style="color: black;background-color:rgb(99, 228, 99);border: none;border-radius: 5px;width: 260px;">Book
                        Now</button></a></span>
                      <!-- <h6>
                          Beagles are a small to medium-sized breed of dog known for their friendly personality,
                          distinctive appearance, and keen sense of smell. </h6> -->
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </section>